.registermessage {
  background-color: white;
  display: flex;
  width: 60%;
  height: 550px;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding-left: 100px;
}

img {
  width: 250px;
  margin-bottom: 20px;
}

h1,
p {
  text-align: center;
  margin: 0;
}
